<div class="row justify-content-center">
    <div class="col-12 col-lg-12">
        <h4>Productos:</h4>
        <div class="text-end mb-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                A침adir producto
            </button>
        </div>
        {{#if products}}
            <table class="table table-striped text-nowrap">
                <thead>
                    <tr class="table-dark">
                        <th class="w-100">Nombre</th>
                        <th class="">Descripci칩n</th>
                        <th class="">C칩digo</th>
                        <th class="text-end">Precio</th>
                        <th class="text-end">Stock</th>
                        <th class="">Fecha</th>
                        <th class="text-center">Thumbnail</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr class="align-middle">
                        <td class="">{{this.title}}</td>
                        <td class="">{{this.description}}</td>
                        <td class="">{{this.code}}</td>
                        <td class="text-end">${{this.price}}</td>
                        <td class="text-end">{{this.stock}}</td>
                        <td class="">{{timeFormat 'LLL' this.timestamp}} </td>
                        <td class="text-center"><img src="{{this.thumbnail}}" alt="{{this.title}}"></td>
                        <td class="text-end">
                            <a class="btn btn-primary" href="../productos/update/{{this.id}}" role="button"><i class="bi bi-pen"></i><span class="visually-hidden">Actualizar</span></a>
                            <span class="btn btn-danger delete-js" data-title="{{this.title}}" data-id="{{this.id}}" role="button" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                <i class="bi bi-trash"></i><span class="visually-hidden">Eliminar</span>
                            </span>
                        </td>
                        
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <div class="alert alert-info" role="alert">
                No hay productos para mostrar
            </div>
        {{/if}}
    </div>
</div>

<div class="modal" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Agregar producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="" action="./view" method="post">
        <div class="modal-body">
            <div class="row g-3">
                <div class="col-12">
                    <label for="title" class="form-label">Nombre</label>
                    <input type="text" name="title" id="title" class="form-control" placeholder="">
                </div>
                <div class="col-12">
                    <label for="description" class="form-label">Descripci칩n</label>
                    <input type="text" name="description" id="description" class="form-control" placeholder="">
                </div>
                <div class="col-12">
                    <label for="price" class="form-label">Precio</label>
                    <input type="text" name="price" id="price" class="form-control" placeholder="Ej. 3.50">
                </div>
                <div class="col-12">
                    <label for="stock" class="form-label">Stock</label>
                    <input type="text" name="stock" id="stock" class="form-control" placeholder="Ej. 3.50">
                </div>
                <div class="col-12">
                    <label for="thumbnail" class="form-label">Thumbnail</label>
                    <input type="text" name="thumbnail" id="thumbnail" class="form-control" placeholder="url">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" value="Agregar producto"></input>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Eliminar producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="" action="../productos/delete/" method="post">
        <div class="modal-body">
            <p>Deseas eliminar el producto <strong id="delete-text"></strong>?</p>
            <input id="id" name="id" type="hidden" value="">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-danger" value="Eliminar"></input>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
    window.onload = function() {
        const myModal = document.getElementById('deleteModal');
        const deleteText = document.getElementById('delete-text');
        const deleteId = document.getElementById('id');
        const deleteBtns = document.querySelectorAll('.delete-js');
        deleteBtns.forEach(btn => {
            btn.addEventListener('click', function handleClick(event) {
                deleteText.innerText = btn.dataset.title;
                deleteId.value = btn.dataset.id;
            });
        }); 
    };
</script>